# Application settings
APP_DEBUG=
APP_ENV=
APP_URL=
LOG_CHANNEL=
LOG_STDERR_FORMATTER=

# Database settings
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Node port
NODE_PORT=

# Web port
WEB_PORT=

# Redis port
REDIS_PORT=

# phpMyAdmin port
PMA_PORT=

# Mailpit settings
MAILPIT_SMTP_PORT=
MAILPIT_DASHBOARD_PORT=
